@page
@model PCRemoteControl.Pages.IndexModel
@section Scripts {
    @* Before *@
    <script src="~/js/control_hub.js" asp-append-version="true"></script>
    <script src="~/js/controls.js" asp-append-version="true"></script>
    @* Main *@
    <script src="~/js/app.js" asp-append-version="true"></script>
    @* After *@
    <script src="~/js/events.js" asp-append-version="true"></script>
}

<div class="container-fluid">
    <div class="flex-container">
        <header id="header">
            <div class="row pt-2 pb-2">
                <div class="col">
                    <div class="d-grid">
                        <button type="button" class="btn btn-primary"><i class="fas fa-pause"></i></button>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid">
                        <button type="button" class="btn btn-primary"><i class="fas fa-play"></i></button>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid">
                        <button type="button" class="btn btn-primary"><i class="fas fa-volume-mute"></i></button>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid">
                        <button type="button" class="btn btn-primary"><i class="fas fa-volume-down"></i></button>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid">
                        <button type="button" class="btn btn-primary"><i class="fas fa-volume-up"></i></button>
                    </div>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="">
                        <button type="button" class="btn btn-primary"><i class="fas fa-backspace"></i></button>
                        <button type="button" class="btn btn-primary"><i class="fas fa-check"></i></button>
                    </div>
                </div>
            </div>
        </header>

        <section id="content" class="content">
        </section>

        <footer id="footer">
            <div class="row pt-2 pb-2">
                <div class="col">
                    <div class="d-grid">
                        <button type="button" class="btn btn-primary">Left</button>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid">
                        <button type="button" class="btn btn-primary">Right</button>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>