@page
@model PCRemoteControl.Pages.IndexModel
@section Scripts {
    @* Before *@
    <script src="~/js/control_hub.js" asp-append-version="true"></script>
    <script src="~/js/controls.js" asp-append-version="true"></script>
    @* Main *@
    <script src="~/js/app.js" asp-append-version="true"></script>
    @* After *@
    <script src="~/js/events.js" asp-append-version="true"></script>
}

@* TODO BB. Android: Vinduet fylder for meget så man skal scrolle for at se museknapperne i bunden. Find løsning. *@

<div class="container-fluid">
    <div class="flex-container">
        <header id="header">
            <div class="row pt-2 pb-2">
                <div class="col text-center">
                    <button onclick="controls.keyboardLeftArrowClick()" type="button" class="btn btn-primary btn-lg"><i class="fas fa-backward"></i></button>
                    <button onclick="controls.keyboardRightArrowClick()" type="button" class="btn btn-primary btn-lg"><i class="fas fa-forward"></i></button>
                    <button onclick="controls.keyboardPlayPauseClick()" type="button" class="btn btn-primary btn-lg"><i class="fas fa-play"></i><i class="fas fa-pause"></i></button>
                    <button onclick="controls.keyboardVolumeMuteClick()" type="button" class="btn btn-primary btn-lg"><i class="fas fa-volume-mute"></i></button>
                    <button onclick="controls.keyboardVolumeDownClick()" type="button" class="btn btn-primary btn-lg"><i class="fas fa-volume-down"></i></button>
                    <button onclick="controls.keyboardVolumeUpClick()" type="button" class="btn btn-primary btn-lg"><i class="fas fa-volume-up"></i></button>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col">
                    <div class="input-group input-group-lg">
                        <input id="textInput" type="text" class="form-control" placeholder="">
                        <button onclick="controls.keyboardBackspaceClick()" type="button" class="btn btn-primary btn-lg"><i class="fas fa-backspace"></i></button>
                        <button onclick="controls.keyboardEnterClick()" type="button" class="btn btn-primary btn-lg"><i class="fas fa-check"></i></button>
                    </div>
                </div>
            </div>
        </header>

        <section id="content" class="content">
        </section>

        <footer id="footer">
            <div class="row pt-2 pb-2">
                <div class="col">
                    <div class="d-grid">
                        <button onclick="controls.mouseLeftClick()" type="button" class="btn btn-primary btn-lg">Left</button>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid">
                        <button onclick="controls.mouseRightClick()" type="button" class="btn btn-primary btn-lg">Right</button>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>